.view_item-container{
    width: 100vw;
    margin-top: 100px;
}
.shop-container{
    top: 0;
    left: 0;
    position: fixed;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    z-index: 10;
}
#paymentOnline, #cod{
    display: none;
}
.order-form{
    margin-top: 60px;
    width: 40%;
    padding: 30px;
    position: relative;
    gap: 20px;
    text-align: center;
    border-radius: 20px;
    color: white;
    background-color: #666;
    box-shadow: 5px 0 5px 3px rgba(f, f, f, 0.2);
}
.order-form h2{
    font-size: 3rem;
    margin-bottom: 20px;
}
.order-form form{
    text-align: start;
    gap: 10px;
}
.quantity p{
    margin-top: 5px;
    text-align: center;
}
.close{
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 3rem;
    cursor: pointer;
}
.order-form label{
    font-size: 1.5rem;
}
.order-form input{
    width: max-content;
    padding: 5px;
    font-size: 1.25rem;
    border: none;
    outline: none;
    border-radius: 20px;
}
.order-form input:read-only{
    background: transparent;
    color: white;
}
.payment-method{
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.radios{
    align-items: center;
    padding: 20px;
    gap: 20px;
    font-size: 1.5rem;
}
.submit-order{
    font-size: 1.5rem !important;
    padding: 20px !important;
    background-color: orangered !important;
}
.view_item-container .container{
    height: 100%;
    padding: 20px;
    text-align: center;
    gap: 30px;
}
.container h2{
    font-size: 4rem;
}
.container p{
    font-size: 2rem;
}
.swiper-container{
    height: 70vh;
    width: 100%;
}

swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper {
    height: 80%;
    width: 100%;
  }

  .mySwiper2 {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper2 swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
  }

  swiper-slide img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .button{
    width: max-content;
    align-self: center;
  }

  @media screen and (max-width: 1150px) {
    .container{
        gap: 50px;
        width: 90%;
    }
    .order-form{
        width: 80%;
    }
    .order-form label, .order-form input, .order-form input:read-only, .radios, #total-price{
        font-size: smaller;
    }
    .order-form h2{
        font-size: x-large;
    }
    .cod p{
        font-size: smaller;
    }
    .submit-order{
        font-size: medium !important;
    }
    .container h2{
        font-size: 2rem;
    }
    .container p{
        font-size: 1rem;
    }
 }